extends: eslint:recommended

env:
  es6: true
  node: true
  mocha: true

rules:
  #no-var: 2
  no-unused-vars: [2, {"args": "none"}]
  consistent-return: 0
  no-fallthrough: 2
  #no-case-declarations: 2
  default-case: 2
  indent: [2, 4]
  semi: 2
  camelcase: 0